---
layout: page
---

<p>The final project will give you the opportunity to test the knowledge of what you have learned throughout the course on a real dataset. </p>

<p> The project will involve outlining some main research question(s), carrying out some descriptive and inferential statistical analysis, regression modelling and a brief summary of your findings.</p>

<p>IMPORTANT</b>: Any research question that you can pose as a statistical inference is fair.</p>

<p>You will have the choice of picking one of the following projects (Click in each link to know more details on the project):</p>

<ul id="archive">
{% for project in site.project %}
         
    <li class="archiveposturl" style="background: transparent">
        <span><a href="{{ project.url | prepend: site.baseurl}}" style="font-size: 20px;">{{ project.title }}</a></span>
      </li>
{% endfor %}
</ul>

{{ content }}
